<div class="col text-bold" id="nome">Nome</div>
<div class="col text-bold" id="cognome">Cognome</div>
<div class="col text-bold" id="dataNascita">Data di nascita</div>
<div class="col text-bold" id="eta">Età</div>
<div class="col text-bold" id="sesso">Sesso</div>
<div class="col text-bold" id="specializzazione">Specializzazione</div>
<div class="col">
  <button class="btn btn-success" id="show">Vedi</button>
</div>
<div class="col">
  <button class="btn btn-warning" id="modify" disabled>Modifica</button>
</div>
<div class="col">
  <button class="btn btn-danger" id="delete">Elimina</button>
</div>
