<div class="row cardSpace">
  <div class="col text-bold" id="nominativoMedico">Nome Cognome medico</div>
  <div class="col text-bold" id="nominativoPaziente">Nome Cognome paziente</div>
  <div class="col text-bold" id="periodoRicovero">Data ricovero</div>
  <div class="col">
    <button class="btn btn-success" id="show">Vedi</button>
  </div>
  <!-- <div class="col">
    <button class="btn btn-warning" id="modify" disabled>Modifica</button>
  </div> -->
  <div class="col">
    <button class="btn btn-danger" id="delete">Elimina</button>
  </div>
</div>
