<div class="col text-bold" id="nome">Nome</div>
<div class="col text-bold" id="cognome">Cognome</div>
<div class="col text-bold" id="dataNascita">Data di nascita</div>
<div class="col text-bold" id="eta">Età</div>
<div class="col text-bold" id="sesso">Sesso</div>
<div class="col">
  <button type="button" class="btn btn-primary">Vedi</button>
</div>
<div class="col">
  <button type="button" class="btn btn-primary">Modifica</button>
</div>
<div class="col">
  <button type="button" class="btn btn-primary">Elimina</button>
</div>
